<!-- <div class='container-flud' id='test' style='background-color:blue;'>
  <div class='row' style="background-color:green;">
    <div class='col-md-5'id='test1' style='background-color:red;'></div>
    <div class='col-md-2'id='test2' style='background-color:white;'></div>
    <div class='col-md-5'id='test3' style='background-color:red;'></div>
  </div>
  </div> -->


</div>
<div class='container-fluid' id="logo">
  <div class='row row-sm-flex-center' id='name'>
    <div class="col-md-5 col-sm-12 tops" id='name-div'>
    <h1 id='nm'>Marc Simonton</h1>
  </div>
  <div class="col-md-2 col-sm-12" id='logoimg'>
    <img id='logoob' src="../images/orangeblack.png" />
  </div>

  <div class='col-md-5 col-sm-12 tops'id='title'>
    <h1 id='ttl'>Web Developer</h2>
  </div>
</div>

</div>
<div class='container-fluid' id='header'>
  <a href="/portfolio"><h2 class='links'>About</h2></a>
  <a href="/portfolio"><h2 class='links'>Portfolio</h2></a>
  <a href="portfolio.hbs"><h2 class='links'>Contact</h2></a>

  <div id='header-bottom'>

  </div>




</div>






<div class='container' id='index_main'>
  <div id='cover'>
    <div id='port-header'>
      <div class='white'></div>
      <h1 id='port-head'>Portfolio</h1>
      <div class='white'></div>
    </div>






            <!--       Portfolio Items               -->



    <div class='container-fluid' id='port_row_cont'>
      <div class='row' id='port_row'>

        <div id ='portfolio_items' class='col-md-3 col-sm-12'>
          <div class='row' id='port_head'>
            <div class='col-md-12'>
              <h2>COSummmit</h2>
            </div>
          </div>
          <div class='row'>

          <div class='col-md-12'>
            <div class='port_pic'>
              <img class= 'port_img' src="/images/cosummit.png" />
            </div>
          </div>
        </div>
        <div class='row' id='port_foot'>
          <div id='port_footer' class='row'>
          <div class='col-md-12' id='foots'>


              <div class='col-md-4 col-sm-4'>
                <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
              </div>
              <div class='col-md-4 col-sm-4'>
                <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
                  <br /><span>Tech </span></div>
              </div>
              <div class='col-md-4 col-sm-4'>
                <a href='https://github.com/msimonton/cosummit' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
              </div>
            </div>
          </div>
          </div>
        </div>


        <div id ='portfolio_items' class='col-md-3 col-sm-12'>
          <div class='row' id='port_head'>
            <div class='col-md-12'>
              <h2>Farm Share</h2>
            </div>
          </div>
          <div class='row'>

          <div class='col-md-12'>
            <div class='port_pic'>
              <img class= 'port_img' src="/images/cosummit.png" />
            </div>
          </div>
        </div>
        <div class='row' id='port_foot'>
          <div id='port_footer' class='row'>
          <div class='col-md-12' id='foots'>


              <div class='col-md-4 col-sm-4'>
                <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span id='spn'>Preview </span></div></a>
              </div>
              <div class='col-md-4 col-sm-4'>
                <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
                  <br /><span>Tech </span></div>
              </div>
              <div class='col-md-4 col-sm-4'>
                <a href='https://github.com/msimonton/FarmShare' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
              </div>
            </div>
          </div>
          </div>
        </div>




        <div id ='portfolio_items' class='col-md-3 col-sm-12'>
          <div class='row' id='port_head'>
            <div class='col-md-12'>
              <h2>COSummmit</h2>
            </div>
          </div>
          <div class='row'>

          <div class='col-md-12'>
            <div class='port_pic'>
              <img class= 'port_img' src="/images/ivolunteer.png" />
            </div>
          </div>
        </div>
        <div class='row' id='port_foot'>
          <div id='port_footer' class='row'>
          <div class='col-md-12' id='foots'>


              <div class='col-md-4 col-sm-4'>
                <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
              </div>
              <div class='col-md-4 col-sm-4'>
                <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
                  <br /><span>Tech </span></div>
              </div>
              <div class='col-md-4 col-sm-4'>
                <a href='https://github.com/msimonton/cosummit' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
              </div>
            </div>
          </div>
          </div>
        </div>



      </div>



















   </div>
   </div>

  </div>

</div>
