<div id='circle'>
  <h1>Hello</h1>
  <a href="/portfolio">Portfolio</a>
</div>

<div id='jumbo'>
</div>

<div id='left'>

</div>



<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-2' id='black1'>
      <div id="leftcirc">

      <h2>side</h2>
    </div>
    </div>
    <div class='col-md-7' id ='red'>
      <h2>center</h2>
    </div>
    <div class='col-md-3' id='black' ahref='index'>
      <h2>side</h2>
    </div>



  </div>










  </div>








</div>
