

<p id='blah'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



<header>
    <div class="logo"><h1>Header or something</h1></div>
    <div class="intro"><h3>... or whatever</h3></div>
    <div class="menu">home | services | contact</div>
</header>
<div class="content">
    <p>Bacon ipsum dolor sit amet culpa adipisicing andouille ut, salami bresaola spare ribs shank fatback cupidatat est. Occaecat beef flank fatback beef ribs. Sed tempor officia, proident ullamco elit short loin ham hock short ribs laborum pariatur. Nisi frankfurter sint, boudin aute andouille chicken corned beef. Shank pariatur pork loin deserunt et nostrud, sausage ut.</p>
    <p>Qui sed elit leberkas enim prosciutto aliqua shank occaecat. Labore enim proident short loin strip steak ut. Bresaola ea sed pariatur culpa sint ham hock tri-tip shoulder. Sed jowl sunt chuck mollit jerky.</p>
    <p>Ball tip ham hock pariatur dolore, minim pig qui non filet mignon. Duis dolore do pork belly aute. In consequat mollit consectetur dolore. Short ribs duis tempor, deserunt dolore pastrami pancetta do aliquip jerky sed qui spare ribs tri-tip. Qui jerky culpa eu drumstick chicken sausage brisket.</p>
    <p>Bacon ipsum dolor sit amet culpa adipisicing andouille ut, salami bresaola spare ribs shank fatback cupidatat est. Occaecat beef flank fatback beef ribs. Sed tempor officia, proident ullamco elit short loin ham hock short ribs laborum pariatur. Nisi frankfurter sint, boudin aute andouille chicken corned beef. Shank pariatur pork loin deserunt et nostrud, sausage ut.</p>
    <p>Qui sed elit leberkas enim prosciutto aliqua shank occaecat. Labore enim proident short loin strip steak ut. Bresaola ea sed pariatur culpa sint ham hock tri-tip shoulder. Sed jowl sunt chuck mollit jerky.</p>
    <p>Ball tip ham hock pariatur dolore, minim pig qui non filet mignon. Duis dolore do pork belly aute. In consequat mollit consectetur dolore. Short ribs duis tempor, deserunt dolore pastrami pancetta do aliquip jerky sed qui spare ribs tri-tip. Qui jerky culpa eu drumstick chicken sausage brisket.</p>
    <p>Bacon ipsum dolor sit amet culpa adipisicing andouille ut, salami bresaola spare ribs shank fatback cupidatat est. Occaecat beef flank fatback beef ribs. Sed tempor officia, proident ullamco elit short loin ham hock short ribs laborum pariatur. Nisi frankfurter sint, boudin aute andouille chicken corned beef. Shank pariatur pork loin deserunt et nostrud, sausage ut.</p>
    <p>Qui sed elit leberkas enim prosciutto aliqua shank occaecat. Labore enim proident short loin strip steak ut. Bresaola ea sed pariatur culpa sint ham hock tri-tip shoulder. Sed jowl sunt chuck mollit jerky.</p>
    <p>Ball tip ham hock pariatur dolore, minim pig qui non filet mignon. Duis dolore do pork belly aute. In consequat mollit consectetur dolore. Short ribs duis tempor, deserunt dolore pastrami pancetta do aliquip jerky sed qui spare ribs tri-tip. Qui jerky culpa eu drumstick chicken sausage brisket.</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>









 <div class='container-fluid' id='port_row_cont'>
   <div class='row' id='port_row'>
     <div class='col-md-1'></div>

     <div id ='portfolio_items' class='col-md-3 col-sm-12'>
       <div class='row' id='port_head'>
         <div class='col-md-12'>
           <h2>COSummmit</h2>
         </div>
       </div>
       <div class='row'>

       <div class='col-md-12'>
         <div class='port_pic'>
           <img class= 'port_img' src="/images/cosummit.png" />
         </div>
       </div>
     </div>
     <div class='row' id='port_foot'>
       <div id='port_footer' class='row'>
       <div class='col-md-12' id='foots'>


           <div class='col-md-4 col-sm-4'>
             <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
           </div>
           <div class='col-md-4 col-sm-4'>
             <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
               <br /><span>Tech </span></div>
           </div>
           <div class='col-md-4 col-sm-4'>
             <a href='https://github.com/msimonton/cosummit' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
           </div>
         </div>
       </div>
       </div>
     </div>


     <div id ='portfolio_items' class='col-md-3 col-sm-12'>
       <div class='row' id='port_head'>
         <div class='col-md-12'>
           <h2>Farm Share</h2>
         </div>
       </div>
       <div class='row'>

       <div class='col-md-12'>
         <div class='port_pic'>
           <img class= 'port_img' src="/images/cosummit.png" />
         </div>
       </div>
     </div>
     <div class='row' id='port_foot'>
       <div id='port_footer' class='row'>
       <div class='col-md-12' id='foots'>


           <div class='col-md-4 col-sm-4'>
             <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span id='spn'>Preview </span></div></a>
           </div>
           <div class='col-md-4 col-sm-4'>
             <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
               <br /><span>Tech </span></div>
           </div>
           <div class='col-md-4 col-sm-4'>
             <a href='https://github.com/msimonton/FarmShare' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
           </div>
         </div>
       </div>
       </div>
     </div>




     <div id ='portfolio_items' class='col-md-3 col-sm-12'>
       <div class='row' id='port_head'>
         <div class='col-md-12'>
           <h2>COSummmit</h2>
         </div>
       </div>
       <div class='row'>

       <div class='col-md-12'>
         <div class='port_pic'>
           <img class= 'port_img' src="/images/cosummit.png" />
         </div>
       </div>
     </div>
     <div class='row' id='port_foot'>
       <div id='port_footer' class='row'>
       <div class='col-md-12' id='foots'>


           <div class='col-md-4 col-sm-4'>
             <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
           </div>
           <div class='col-md-4 col-sm-4'>
             <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
               <br /><span>Tech </span></div>
           </div>
           <div class='col-md-4 col-sm-4'>
             <a href='https://github.com/msimonton/cosummit' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
           </div>
         </div>
       </div>
       </div>
     </div>


   <div class='col-md-1'>

   </div>

</div>
</div>
