<!--
<div class='container-fluid' id='port_row_cont'>
  <div class='row' id='port_row'>

  <div id ='portfolio_items' class='col-md-4 col-sm-12'>
    <div class='row'>

    <div class='col-md-12'>
      <div class='port_pic'>
        <img class= 'port_img' src="/images/cosummit.png" />
      </div>
    </div>
  </div>
  <div class='container-fluid' id='footers'>

  <div class='row' id='port_foot'>
    <div class='col-md-12'>


      <div id='port_footer' class='row'>
        <div class='col-md-4'>
          <button class="buttons"><span>Preview </span></button>
        </div>
        <div class='col-md-4'>
          <button class="buttons"><span>Tech </span></button>
        </div>
        <div class='col-md-4'>
          <button class="buttons"><span>Github </span></button>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
 -->




 <div class='container-fluid' id='port_row_cont'>
   <div class='row' id='port_row'>
     <div class='col-md-1'></div>

     <div id ='portfolio_items' class='col-md-3 col-sm-12'>
       <div class='row' id='port_head'>
         <div class='col-md-12'>
           <h2>COSummmit</h2>
         </div>
       </div>
       <div class='row'>

       <div class='col-md-12'>
         <div class='port_pic'>
           <img class= 'port_img' src="/images/cosummit.png" />
         </div>
       </div>
     </div>
     <div class='row' id='port_foot'>
       <div id='port_footer' class='row'>
       <div class='col-md-12' id='foots'>


           <div class='col-md-4 col-sm-4'>
             <a href='https://cosummit.herokuapp.com/' target="_blank"><button class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></button></a>
           </div>
           <div class='col-md-4 col-sm-4'>
             <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
               <br /><span>Tech </span></div>
           </div>
           <div class='col-md-4 col-sm-4'>
             <button class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></button>
           </div>
         </div>
       </div>
       </div>
     </div>




   <div id ='portfolio_items' class='col-md-3 col-sm-12'>
     <div class='row' id='port_head'>
       <div class='col-md-12'>
         <h2>COSummmit</h2>
       </div>
     </div>
     <div class='row'>

     <div class='col-md-12'>
       <div class='port_pic'>
         <img class= 'port_img' src="/images/cosummit.png" />
       </div>
     </div>
   </div>
   <div class='row' id='port_foot'>
     <div id='port_footer' class='row'>
     <div class='col-md-12' id='foots'>


         <div class='col-md-4 col-sm-4'>
           <button class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></button>
         </div>
         <div class='col-md-4 col-sm-4'>
           <div class="buttons"><a href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
             <br /><span>Tech </span></a></div>
         </div>
         <div class='col-md-4 col-sm-4'>
           <button class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></button>
         </div>
       </div>
     </div>
     </div>
   </div>






      <div id ='portfolio_items' class='col-md-3 col-sm-12'>
        <div class='row' id='port_head'>
          <div class='col-md-12'>
            <h2>COSummmit</h2>
          </div>
        </div>
        <div class='row'>

        <div class='col-md-12'>
          <div class='port_pic'>
            <img class= 'port_img' src="/images/cosummit.png" />
          </div>
        </div>
      </div>
      <div class='row' id='port_foot'>
        <div id='port_footer' class='row'>
        <div class='col-md-12' id='foots'>


            <div class='col-md-4 col-sm-4'>
              <button class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></button>
            </div>
            <div class='col-md-4 col-sm-4'>
              <div class="buttons"><a href="#" data-toggle="popover" data-placement="top" data-html='true' data-content="<h2>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
                <br /><span>Tech </span></a></div>
            </div>
            <div class='col-md-4 col-sm-4'>
              <button class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></button>
            </div>
          </div>
        </div>
        </div>
      </div>



   <div class='col-md-1'>

   </div>

</div>
</div>
