<h1>projects</h1>




<div class='container-fluid' id='port_row_cont'>
  <div class='row' id='port_row'>

    <div id ='portfolio_items' class=' col-md-3 col-sm-12'>
      <div class='portfolio-single'>

      <div id='port_head'>
          <h2>COSummmit</h2>
      </div>

      <div>
        <div class='port_pic'>
          <img class= 'port_img' src="/images/cosummit.png" />
        </div>
      </div>
    <div id='port_foot'>
      <div id='port_footer'>
      <div id='foots'>


          <div class='test'>
            <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
          </div>
          <div class='test'>

            <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
              <br /><span>About </span></div>
          </div>
          <div class='test'>

            <a href='https://github.com/msimonton/cosummit' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>




<div class='container-fluid' id='port-contain'>
  <div class='row' id='portfolio-row'>

    <div class='col-md-1 col-sm-0'></div>

    <div class='col-md-3 col-sm-12 port-item'>
      <h1 class='heads'>COSummit</h1>
      <div class='portfolio-pics cosummit-pic'></div>

      <div class='linker'>


      <div class='port-links previews'>
        <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
      </div>

      <div class='port-links about-items'>
        <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />COSummit</h2> is an app that helps those looking to visit one of Colorado's ski resorts decide which resort is best for them based on thier personal preferences."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
          <br /><span>About</span></div>
      </div>

      <div class='port-links repo-links'>
        <a href='https://github.com/msimonton/cosummit' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
      </div>

    </div>



    </div>










    <div class='col-md-3 col-sm-12 port-item'>
      <h1 class='heads'>Farm Share</h1>
      <div class='portfolio-pics farmshare-pic'></div>

      <div class='linker'>


      <div class='port-links previews'>
        <a href='https://farmshare.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
      </div>

      <div class='port-links about-items'>
        <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />COSummit</h2> is an app that connects users to local growers. The app allows you to search for products and get information about farms in your area. It is also a great way for farmers to advertise their products."class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
          <br /><span>About </span></div>
      </div>

      <div class='port-links repo-links'>
        <a href='https://github.com/msimonton/FarmShare' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
      </div>

    </div>



    </div>







    <div class='col-md-3 col-sm-12 port-item'>
      <h1 class='heads'>iVolunteer</h1>
      <div class='portfolio-pics ivolunteer-pic'></div>

      <div class='linker'>


      <div class='port-links previews'>
        <a href='https://iVolunteer.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
      </div>

      <div class='port-links about-items'>
        <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />iVolunteer</h2> is an app that helps users find local volunteer opportunities. Users can create a profile and sign up for events. Volunteer organizations may also create orginization pages and post their upcomming events"class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
          <br /><span>About </span></div>
      </div>

      <div class='port-links repo-links'>
        <a href='https://github.com/msimonton/mejc' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
      </div>

    </div>



    </div>
    <div class='col-md-1 col-sm-0'></div>


  </div>
</div>





<div class='container-fluid' id='port-contain'>
  <div class='row' id='portfolio-row'>

    <div class='col-md-1 col-sm-0'></div>

    <div class='col-md-3 col-sm-12 port-item'>
      <h1 class='heads galv'>Galvanize Personnel</h1>
      <div class='portfolio-pics galv-personnel-pic'></div>

      <div class='linker'>


      <div class='port-links previews'>
        <a href='https://cosummit.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
      </div>

      <div class='port-links about-items'>
        <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />Galvanize Personnel</h2> is a simple app created during the first part of my time at Galvanize. It allows you to enter your name and choose a character. The app was primarily for practice using APIs"class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
          <br /><span>About</span></div>
      </div>

      <div class='port-links repo-links'>
        <a href='https://github.com/msimonton/galvanize-personnel' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
      </div>

    </div>



    </div>










    <div class='col-md-3 col-sm-12 port-item'>
      <h1 class='heads'>Mad Lyrics</h1>
      <div class='portfolio-pics madlyrics-pic'></div>

      <div class='linker'>


      <div class='port-links previews'>
        <a href='https://farmshare.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
      </div>

      <div class='port-links about-items'>
        <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />Mad Lyrics</h2> is like a traditional mad libs game with a twist, it allows users to input words into their favorite song lyrics with hilarious outcoms"class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
          <br /><span>About </span></div>
      </div>

      <div class='port-links repo-links'>
        <a href='https://github.com/msimonton/q1-project' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
      </div>

    </div>



    </div>







    <div class='col-md-3 col-sm-12 port-item'>
      <h1 class='heads galv'>Liz Simonton Photo Art</h1>
      <div class='portfolio-pics liz-pic'></div>

      <div class='linker'>


      <div class='port-links previews'>
        <a href='https://iVolunteer.herokuapp.com/' target="_blank"><div class="buttons"><i class="fa fa-eye" aria-hidden="true"></i><br /><span>Preview </span></div></a>
      </div>

      <div class='port-links about-items'>
        <div class="buttons" href="#"  data-toggle="popover" data-placement="top" data-html='true' data-content="<h2 class='tech-pop'>About <br />iVolunteer</h2> is an app that helps users find local volunteer opportunities. Users can create a profile and sign up for events. Volunteer organizations may also create orginization pages and post their upcomming events"class='popovers'><i class="fa fa-info" aria-hidden="true"></i>
          <br /><span>About </span></div>
      </div>

      <div class='port-links repo-links'>
        <a href='https://github.com/msimonton/mejc' target="_blank"><div class="buttons"><i class="fa fa-github" aria-hidden="true"></i><br /><span>Github </span></div></a>
      </div>

    </div>



    </div>
    <div class='col-md-1 col-sm-0'></div>


  </div>
</div>






<div class='hat'>

</div>
